<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connString" connectionString="Database = 'db_test'; Data Source = '127.0.0.1'; User Id = 'root'; Password = 'pwd@87944711'; charset = 'utf8'; pooling = true; port=3306; Connection Timeout=10"/>
  </connectionStrings>
</configuration>